body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: #666;
  }
  
  .radio-group {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start; /* Menggeser ke kiri */
    align-items: center; /* Menyamakan vertikal */
    gap: 10px; /* Jarak antar elemen */
  }

  
  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="date"] {
    width: 97%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .radio-group label {
    margin-right: 10px;
    color: #333;
  }
  
  button[type="submit"],
  button#downloadButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .card {
    display: none;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
  }
  
  .card h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .card p {
    margin-bottom: 5px;
    color: #666;
  }
  
  #downloadButton {
    display: none;
    margin-top: 10px;
    background-color: #28a745;
  }
  
  #downloadButton:hover {
    background-color: #218838;
  }
  